@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
dl,
dt,
dd,
blockquote,
pre,
form,
fieldset,
legend,
input,
textarea,
th,
td {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   color: #2C2C2C;
}

main {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(./media/background_image.jpg);
   background-position: center;
   background-size: cover;
   position: relative;
}

.header {
   padding: 20px;
   width: 90%;
   text-align: center;
   position: absolute;
   top: 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.slogan {
   font-size: 4rem;
   font-weight: bold;
   color: #fff;
   text-align: right;
}

.card {
   width: 100%;
   max-width: 700px;
   background: rgba(243, 243, 243, 0.23);
   backdrop-filter: blur(10px);
   border-radius: 20px;
   padding: 3rem 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cardTitle {
   font-size: 4rem;
   font-weight: bold;
   text-align: center;
   padding: 20px;
}

.card h3 {
   font-size: 3rem;
   margin-bottom: 2rem;
   font-weight: 400;
}

.mw {
   font-size: 3rem;
}

.inputBox {
   width: 100%;
   height: 50px;
   border-radius: 10px;
   border: 1px solid #000;
   font-size: 1.5rem;
   font-weight: bold;
   color: #000;
   margin-bottom: 20px;
   border: 3px solid#FFD05B;
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: stretch;
   overflow: hidden;
}

.inputBox input {
   width: 70%;
   height: 100%;
   border: 0;
   outline: 0;
   font-size: 2rem;
   padding: 0 1rem;
   background-color: #fff;
   opacity: 1;
   color: inherit;
}
.inputBox button {
   width: 30%;
   border: 0;
   outline: 0;
   background-color: #ffd05b;
   font-size: 2rem;
   font-weight: bold;
   cursor: pointer;
}

.inputBox button:hover {
   background-color: #f5c03a;
}

.social {
   width: 70%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 3rem;
}
.social a {
   text-decoration: none;
   color: #ffd05b;
   font-size: 4rem;
}

.footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer a {
   text-decoration: none;
   
   font-size: 3rem;
   display: flex;
   align-items: center;
}

.footer i {
   color: #ffd05b;
}

.email,
.number {
   display: flex;
   align-items: center;
}



.footer h2 {
   margin-left: 1.5rem;
   font-size: 2rem;
   font-weight: 600;
   color: #2C2C2C;
}

@media only screen and (max-width: 768px) {
    .header {
       justify-content: center;
       top: 80px;
    }
    .header img {
        width: 250px;
    }
    .card {
        width: 95%;
        max-width: 700px;
        background: rgba(243, 243, 243, 0.23);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardTitle {
       font-size: 3rem;
       padding: 0;
       margin-bottom: 1rem;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }
 }

@media only screen and (max-width: 1000px) {
   .header {
      justify-content: center;
   }
   .slogan {
      display: none;
   }
}
